<?xml version="1.0" encoding="UTF-8"?>
<module id="4000" version="2024042207">
  <modulename>customcert</modulename>
  <sectionid>2000</sectionid>
  <sectionnumber>10</sectionnumber>
  <idnumber></idnumber>
  <added>1772738539</added>
  <score>0</score>
  <indent>0</indent>
  <visible>1</visible>
  <visibleoncoursepage>1</visibleoncoursepage>
  <visibleold>1</visibleold>
  <groupmode>0</groupmode>
  <groupingid>0</groupingid>
  <completion>0</completion>
  <completiongradeitemnumber>$@NULL@$</completiongradeitemnumber>
  <completionpassgrade>0</completionpassgrade>
  <completionview>0</completionview>
  <completionexpected>0</completionexpected>
  <availability>{"op":"&amp;","c":[{"type":"completion","cm":101001,"e":1},{"type":"completion","cm":101002,"e":1},{"type":"completion","cm":101003,"e":1},{"type":"completion","cm":101004,"e":1},{"type":"completion","cm":101005,"e":1},{"type":"completion","cm":101006,"e":1},{"type":"completion","cm":101007,"e":1},{"type":"completion","cm":101008,"e":1},{"type":"completion","cm":101009,"e":1}],"showc":[true,true,true,true,true,true,true,true,true]}</availability>
  <showdescription>0</showdescription>
  <downloadcontent>1</downloadcontent>
  <lang></lang>
  <tags>
  </tags>
</module>