<?xml version="1.0" encoding="UTF-8"?>
<module id="22514" version="2024042207">
  <modulename>customcert</modulename>
  <sectionid>6921</sectionid>
  <sectionnumber>7</sectionnumber>
  <idnumber></idnumber>
  <added>1770298988</added>
  <score>0</score>
  <indent>0</indent>
  <visible>1</visible>
  <visibleoncoursepage>1</visibleoncoursepage>
  <visibleold>1</visibleold>
  <groupmode>0</groupmode>
  <groupingid>0</groupingid>
  <completion>0</completion>
  <completiongradeitemnumber>$@NULL@$</completiongradeitemnumber>
  <completionpassgrade>0</completionpassgrade>
  <completionview>0</completionview>
  <completionexpected>0</completionexpected>
  <availability>{"op":"&amp;","c":[{"type":"completion","cm":22512,"e":1},{"type":"completion","cm":22525,"e":1},{"type":"completion","cm":22526,"e":1},{"type":"completion","cm":22527,"e":1},{"type":"completion","cm":22528,"e":1},{"type":"completion","cm":22530,"e":1}],"showc":[true,true,true,true,true,true]}</availability>
  <showdescription>0</showdescription>
  <downloadcontent>1</downloadcontent>
  <lang></lang>
  <tags>
  </tags>
</module>